/* @import "~bootstrap/scss/bootstrap"; */

body {
    background-color: rgb(52, 58, 64);
    color:rgb(170, 184, 197);
}

section{
    background-color: rgb(55, 64, 74);
}

.lien {
    border: 1px solid  rgb(88, 103, 121);
    border-radius: 4px;
}

.heure{
    font-size: 12px;
}

.delete{
    color: #d00c0c;
    cursor: pointer;
}

.pointeur:hover{
    cursor: pointer;
}